
.container {
  display: grid;
  height: 500px;
  gap: 10px;
  background-color: #111;
  padding: 10px;


  grid-template-areas: 
    "topo topo"
    "lado meio"
    "base base";

  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px 1fr 60px;
}

 { grid-area: topo; background: #ff4757; }
    { grid-area: lado; background: #1e90ff; }
    { grid-area: meio; background: #2ed573; }
  { grid-area: base; background: #ffa502; }

.container div { border-radius: 12px; } 