
#Grid{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: repeat(4,120px);
    grid-auto-rows: 100px;
    gap: 20px;
    
}

#Grid div{
    display: flex;
    background-color: #ff4d4d ;
    color:black;
    align-items: center;
    justify-content: center;
}
#Grid div.item{
    background-color: #4dcdff ;
}

.item{
    grid-column: unset;
    grid-row: unset;
}

body {
    margin: 0;                 
    height: 100vh;             
    display: flex;             
    justify-content: center;   
    align-items: center;       
    background-color: #ffffff; 
}